<div class='interval'>
	<span>
		{{punch_start}} - {{punch_end}}
	</span>
	<span>
		{{client_name}}
	</span>
	<span>
		{{project_name}}
	</span>
	<span>
		{{direction}}
	</span>
	<span>
		{{type}}
	</span>
	<span>
		{{duration}}
	</span>

	<div>
		{{comment_start}}
	</div>
	<div>
		{{comment_end}}
	</div>
</div>
